/*Import Roboto Google font*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,200&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*Colors*/
:root {
    --dark-blue: #00368c;
    --light-blue: #DEE3F4;
    --orange: #FF9700;
    --dark-grey: #989898;
    --light-grey: #EFEFEF;
    --white: #FFFFFF;    
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit
}


img{
    max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

.btn {
    text-decoration: none;
    display: inline-block;
    padding: 5px 20px;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    font-size: .8em;
}
.btn-orange {
    background-color: var(--orange);
    color: var(--white);
    border-color: var(--dark-blue);
}
.btn-orange:hover {
    color: var(--dark-blue);
}
.btn-blue-outline {
    background-color: var(--white);
    color: var(--dark-blue);
    border-color: var(--dark-blue);
}
.btn-blue {
    background-color: var(--dark-blue);
    color: var(--white);
    border-color: var(--dark-blue);
}
.btn-blue:hover, .btn-blue-outline:hover {
    color: var(--orange);
}

.btn-scroller {
    background-color: var(--dark-blue);
    color: var(--white);
    border: 1px solid var(--dark-blue);
}

.btn-scroller:hover{
    background-color: var(--light-blue);
    color: var(--dark-blue);
}

.btn-scroller-left {
    border-radius: 10px 0 0 10px;
}

.btn-scroller-right {
    border-radius: 0 10px 10px 0;
}

.snap-container {
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scroll-padding: 20px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.snap-container::-webkit-scrollbar {
    display: none;
}

.snap-container > * {
    scroll-snap-align: start;
}

/*SVG styles*/
.white-logo {
    fill: var(--white);
}

.blue-logo {
    fill: var(--dark-blue);
}

.highlight {
    fill:#F2913D;
}

#original-logo {
    display: none;
}

body{
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
}

#mainHeader {
    background-color: var(--dark-blue);
    display: flex;
    padding: 10px;
    align-items: center;
    height: 50px;
}

#mainHeader #mainLogo{
    height: 30px;
    width: auto;
}

#mainHeader #menu-toggle {
    display: none;
}
#mainHeader .menu-button-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: 100%;
    width: 30px;
    cursor: pointer;
    margin-left: auto;
}

#mainHeader .menu-button-container span, 
#mainHeader .menu-button-container span::before,
#mainHeader .menu-button-container span::after {
    display: flex;
    width: 30px;
    height: 4px;
    background-color: var(--white);
    border-radius: 2px;
    position: absolute;
    transition: rotate .2s, background-color .2s;
}

#mainHeader .menu-button-container span::before {
    content: '';
    margin-top: -8px;
}
#mainHeader .menu-button-container span::after {
    content: '';
    margin-top: 8px;
}
#mainHeader #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    rotate: 45deg;
}

#mainHeader #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#mainHeader #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    rotate: -45deg;
}

#mainHeader #headerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: var(--dark-blue);
    width: 100%;
    height: calc(100vh - 50px);
    top:50px;
    left: -100vw;
    transition: left .3s;
}
#mainHeader #menu-toggle:checked ~ #headerContent {
    display: flex;
    left:0;
}
#mainHeader #mainNav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#mainHeader #mainNav ul li {
    margin-top: 1em;
}
#mainHeader #mainNav ul li:last-child {
    margin-top: 3em;
}
#mainHeader #mainNav ul li a {
    text-decoration: none;
    color: var(--white);
    font-weight: 100;
    display: block;
    padding: 5px 20px;
    border-radius: 10px;
    font-size: 2em;
    text-align: center;
    transition: color .2s;
}

#mainHeader #mainNav ul li a:hover {
    color: var(--orange);
}

#mainHeader #login{
    background-color: var(--dark-blue);
    border: 1px solid var(--white);
    color: var(--white);
    padding: 5px 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    transition: color .2s, border-color .2s;
}

#mainHeader #login span {
    margin-left: 10px;
}

#mainHeader #login:hover {
    border: 1px solid var(--orange);
    color: var(--orange);
}

#banner {
    display: grid;
}

#banner picture {
    grid-column: 1;
    grid-row: 1;
}

#banner picture img {
    width: 100%;
    height: 50vh;
    display: block;
    object-fit: cover;
}

#banner #banner-txt {
    grid-column: 1;
    grid-row: 1;
    align-self: end;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 30px;
    text-align: center;
}
#banner #banner-txt h1 {
    color: var(--orange);
    margin: 0;
    padding: 30px 20px;
    font-size: 2em;
}

#yacht {
    display: grid;
    align-items: center;
}

#yacht figure {
    margin: 0;
    padding: 30px;
    background-color: var(--orange);
}

#yacht #yacht-txt{
    padding: 30px;
    color: var(--dark-blue);
    text-align: center;
}

#yacht #yacht-txt h1 {
    font-size: 2.5em;
}
#products {
    background-color: var(--light-blue);
    padding: 20px 10px;;
}
#products h1{
    text-align: center;
    color: var(--orange);
    font-size: 2.5em;
}
#product-content {
    display: flex;
}

#product-content ul {
    list-style-type: none;
    padding: 0 20px;
    margin: 0;
    display: grid;
    column-gap: 20px;
    grid-auto-flow: column;
    grid-auto-columns: 60vw;
    overflow-x: auto;
    
}

#product-content ul li {
    background-color: var(--light-grey);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

#product-content ul li img{
    border-radius: 15px 15px 0 0;
    border: 1px solid var(--dark-blue);
    border-bottom: none;
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    display: block;
}
#product-content ul li .card-txt {
    padding: 10px;
    border: 1px solid var(--dark-blue);
    border-top: none;
    border-radius: 0 0 15px 15px;
    display: flex;
    justify-content: space-between;
    height: 100%;
    flex-flow: column nowrap;
}
#product-content ul li .card-txt a{
    align-self: center;

}
#newsletter {
    background-image: url('/images/bottle_576.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    padding: 30px;
}

#newsletter h1 {
    color: var(--white);
}

#newsletter .field-group {
    display: flex;
    flex-flow: column wrap;
}

#newsletter .field-group label {
    font-weight: 900;
    padding-bottom: 10px;
}

#newsletter .field-group input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--dark-blue);
    font-size: 1.2em;
    margin-bottom: 20px;
}

#newsletter .field-group input::placeholder {
    color: var(--dark-blue);
    font-size: .8em;
    opacity: .3;
}

#newsletter .field-group input:focus-visible {
    outline: none;
}

#newsletter .field-group input:invalid {
    border-color: red;
}

#mainFooter {
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(150px, 300px)) 1fr;
    align-items: center;
    gap: 20px;
}

#mainFooter #footerLogo {
    grid-column: 2 / 3;
}

#mainFooter ul{
    list-style-type: none;
    padding: 0;
    grid-column: 3 / 4;
}

#mainFooter ul a {
    font-weight: 400;
    color: var(--dark-blue);
}
#mainFooter ul a:hover {
    color: var(--orange);
}
#mainFooter > *:last-child {
    grid-column: 1 / -1;
    text-align: center;
}

@media screen and (min-width: 576x) {
    #product-content ul {
        grid-auto-columns: 40vw;
    }

    #newsletter {
        background-image: url('/images/bottle_768.jpg');
    }
}

@media screen and (min-width: 768px) {
    #mainHeader .menu-button-container {
        display: none
    }
    #mainHeader #headerContent {
        position: static;
        flex-direction: row;
        align-items: stretch;
        justify-content: start;
        width: auto;
        height: auto;
        margin-left: auto;
    }
    #mainHeader #mainNav ul {
        display: flex;
        align-items: center;
    }
    #mainHeader #mainNav ul li, #mainHeader #mainNav ul li:last-child {
        margin: 0;
    }
    #mainHeader #mainNav ul li a {
        font-size: .8em;
    }
    #yacht {
        grid-template-columns: repeat(2, 1fr);
    }
    #newsletter {
        background-image: url('/images/bottle_1024.jpg');
        padding: 30px 100px;
    }
}
@media screen and (min-width: 1024px) {
    #mainHeader #mainNav ul li a {
        font-size: 1em;
    }
    #banner picture img {
        height: 66vh;
    }
    #banner #banner-txt {
        width: 50%;
        justify-self: center;
        background-color: var(--white);
    }
    #banner #banner-txt h1 {
        font-size: 2.5em;
    }
    #product-content ul {
        grid-auto-columns: 30vw;
    }
    #newsletter {
        background-image: url('/images/bottle_1280.jpg');
    }
}
@media screen and (min-width: 1280px) {
    #banner #banner-txt h1 {
        font-size: 3.5em;
    }
    #yacht #yacht-txt {
        font-size: 1.5em;
    }
    #product-content ul {
        grid-auto-columns: 20vw;
    }
    #newsletter {
        background-image: url('/images/bottle_1400.jpg');
        padding: 30px 300px;
    }
}

@media screen and (min-width: 1400px) {
    #newsletter {
        background-image: url('/images/bottle_1920.jpg');
        padding: 30px 500px;
    }
}

